---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Auth Protocol — Seamless Trust in a Borderless Blockchain World.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Lite Paper',
        href: 'https://hackmd.io/SBmnpgCkQoeV4E5xjWz7BQ',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Auth Protocol <span class="hidden xl:inline"> is a crypto primitve</span>
      <span class="text-accent dark:text-white highlight"> for key distribution and interoperable blockchain transactions
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Auth Protocol</span> the vanguard of decentralized security. Our groundbreaking authentication protocol is designed to revolutionize how digital identities and transactions are managed across disparate blockchain ecosystems. By leveraging cutting-edge technology, Auth Protocol enables seamless, secure, and interoperable connections between users and services, irrespective of the underlying blockchain. This not only simplifies cross-blockchain transactions but also elevates security and privacy to unprecedented levels. With Auth Protocol, experience the freedom and trust of a truly decentralized digital world, where your identity and assets move fluidly and safely across borders.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Auth Protocol"
    subtitle="Secure, Decentralized, Universal: Auth Protocol Reimagines Access."
    items={[
      {
        title: 'Interoperability',
        description:
          'Seamlessly integrate with multiple blockchains, tapping into unique strengths and communities.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Flexibility',
        description:
          'Adapt to evolving blockchain technologies and market demands without being tethered to a single network.',
        icon: 'tabler:components',
      },
      {
        title: 'Innovation-Friendly',
        description:
          'Our agnostic approach fuels creativity, allowing developers to experiment and build without constraints.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Scalability',
        description:
          'Efficiently scale your solutions, leveraging the best-performing blockchains to meet your needs.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Security & Reliability',
        description:
          'Benefit from the collective advancements in security and performance across all supported blockchains.',
          icon: 'tabler:check',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside Auth Protocol"
    title=""
    items={[
      {
        title: 'Built on top of any distributed compute system',
        description:
          'Built around research with the Internet Computer Protocol, this protocol can be deployed in any distributed environment',
      },
      {
        title: 'Open source foundation',
        description:
          'Technology and research for all eco-systems with an open-source ethos for the empowerment of all sovereign distributed systems.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
       Utilizing novel decentralized technologies, auth can assist with a multitude of use-cases.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  
  <!-- Steps Widget ****************** -->

  <!-- CallToAction Widget *********** -->

    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
